<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="jumbotron container">
  <center>
    <%= link_to "Sign up", admin_signup_path %>

    <h1>Log in</h1>

    <%= form_tag sessions_path do %>
        <p>
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
        </p>
        <p>
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
        </p>
        <p class="btn"><%= submit_tag "Log in" %></p>
    <% end %>
  </center>
</div>