<%= form_for(@job_seeker) do |f| %>
  <% if @job_seeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_seeker.errors.count, "error") %> prohibited this job_seeker from being saved:</h2>

      <ul>
      <% @job_seeker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :e-mail %><br>
    <%= f.text_field :e-mail %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :skills[] %><br>
    <%= f.text_field :skills[] %>
  </div>
  <div class="field">
    <%= f.label :resume %><br>
    <%= f.text_field :resume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
