<h1>Editing job</h1>


    <%= form_for(@job, :url => {:action => 'update', :id => @job.id}) do |f| %>
    <div class="field">
      Title</br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      Description</br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      Application Deadline</br>
      <%= f.datetime_select :application_deadline %>
    </div>

    <div class="field">
      Category
      <% options = options_from_collection_for_select(@category, 'id', 'category') %>
      <%= f.select(:category_id, @category.map{ |category| [category.category, category.id] }) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="field">
     Tags
     <%= f.select(:tags_id, @tags.all.collect {|x| [x.tag, x.id]},{},:multiple => true,:allow_blank => false) %>

    </div>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>