<div id="user_nav">

  <% if current_user%>
      Logged in as <%= current_user.username %>.
      <%= link_to "Log out", log_out_path %>

  <% end %>

</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="jumbotron container">
  <center>
    <h1>Listing jobs</h1>

    <table id="applicationbyjob" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Application deadline</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.description %></td>
            <td><%= job.application_deadline %></td>
            <td><%= link_to 'Show Applications', jobapplication_path(job.id)%></td>
            <td><%= link_to 'Edit', edit_job_path(job) %></td>
            <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Back', main_page_path %>
  </center>
</div>