<center>
<h1>Your Jobs</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Application deadline</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.application_deadline %></td>
        <td><%= link_to 'Show Applications', {controller: "jobapplications" , action: "applicationbyjob" , :id => job.id }%></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
<%= link_to 'Back', emp_homepage_path %>
</center>