<h1>New job</h1>

<%= form_for @job do |f| %>

    <div class="field">
      Title</br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      Description</br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      Application Deadline</br>
      <%= f.datetime_select :application_deadline %>
    </div>

    <div class="field">
        Category
       <%= f.select(:category_id, @category.map{ |category| [category.category, category.id] }) %>
    </div>

    <div class="field">
      Tags

      <%= f.select(:tags_id, @tags.map{ |tag| [tag.tag, tag.id] }) %>

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to 'Back', jobs_path %>
