<% if current_jobseeker%>
    Logged in as <%= current_jobseeker.username %>.
    <%= link_to "Log out", log_out_path %>

<% end %>

<h1>Listing jobs</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Application deadline</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @jobs = Job.find_by_sql("select * from jobs EXCEPT select * from jobs where id in (  select job_id from jobapplications where jobseeker_id in (select distinct jobseeker_id FROM jobapplications WHERE  jobseeker_id = #{session[:user_id]} ))") %>
  <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.application_deadline %></td>
        <td><%= link_to 'Apply', apply_job_path(job) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', searchmyjobs_path %>
