<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<div id="user_nav">

  <% if current_jobseeker%>
      Logged in as <%= current_jobseeker.username %>.
      <%= link_to "Log out", log_out_path %>

  <% end %>

</div>

<div class = "jumbotron container">
<center>
<h1>Welcome</h1>

<div class="col-sm-4"><%= button_to "Profile", show_jobseeker_path, :method => "get" ,:class=>"btn btn-primary"%></div>
<div class="col-sm-4"><%= button_to "Search Jobs", searchmyjobs_path, :method => "get" ,:class=>"btn btn-primary"%></div>
<div class="col-sm-4"><%= button_to "Applications", jobs_applied_path, :method => "get" ,:class=>"btn btn-primary"%></div>


<h1>Recommended Jobs</h1>

<table id="recjobs" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Application deadline</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @tags = Tag.find_by_sql("select DISTINCT tag_id from jobtags where job_id in(select job_id from jobapplications where jobseeker_id = #{session[:user_id]})") %>
      <% @tags.each do |tag| %>
      <% @jobs = Job.find_by_sql("select DISTINCT * from jobs where id in (select job_id from jobtags where tag_id LIKE '%#{tag.tag_id}%')
EXCEPT
select * from jobs where id in (select job_id from jobapplications where jobseeker_id = #{session[:user_id]})") %>
      <% @jobs.each do |job| %>
          <tr>
            <td><%=job.title %></td>
            <td><%= job.description %></td>
            <td><%= job.application_deadline %></td>
            <td><%= link_to 'Apply', apply_job_path(job) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
</center>
</div>