<%= form_for(@jobapplication) do |f| %>
  <% if @jobapplication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobapplication.errors.count, "error") %> prohibited this jobapplication from being saved:</h2>

      <ul>
      <% @jobapplication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coverletter %><br>
    <%= f.text_field :coverletter %>
  </div>
  <div class="field">
    <%= f.label :dateofapplication %><br>
    <%= f.text_field :dateofapplication %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
