<h1>Listing jobapplications</h1>

<table>
  <thead>
    <tr>
      <th>Coverletter</th>
      <th>Dateofapplication</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobapplications.each do |jobapplication| %>
      <tr>
        <td><%= jobapplication.coverletter %></td>
        <td><%= jobapplication.dateofapplication %></td>
        <td><%= jobapplication.status %></td>
        <td><%= link_to 'Show', jobapplication %></td>
        <td><%= link_to 'Edit', edit_jobapplication_path(jobapplication) %></td>
        <td><%= link_to 'Destroy', jobapplication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobapplication', new_jobapplication_path %>
