
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="jumbotron container">
  <center>
    <h1>Apply</h1>

    <%= form_for(@jobapplication) do |f| %>
        <% if @jobapplication.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@jobapplication.errors.count, "error") %> prohibited this jobapplication from being saved:</h2>

              <ul>
                <% @jobapplication.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :coverletter %><br>
          <%= f.text_field :coverletter %>
        </div>
        <div class="field">
          <%= f.label :dateofapplication %><br>
          <%= f.datetime_select :dateofapplication %>
        </div>


        <div class="actions">

          <%= f.submit name="Submit"%>
        </div>
    <% end %>

    <%= link_to 'Back', viewallunappliedjobs_path %>
  </center>
</div>