
<p id="notice"><%= notice %></p>

<p>
  <strong>Coverletter:</strong>
  <%= @jobapplication.coverletter %>
</p>

<p>
  <strong>Dateofapplication:</strong>
  <%= @jobapplication.dateofapplication %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobapplication.status %>
</p>

<%= link_to 'Edit', edit_jobapplication_path(@jobapplication) %> |
<% if current_jobseeker%>
<%= current_employer = nil %>
<%= link_to 'View Recommended jobs', viewrecommendedjobs_path(@jobapplication) %>
<%= link_to 'Back', main_page_path %>
<% end %>
<% if current_employer%>
<%= link_to 'BackEND', jobapplications_path %>
<% end %>