<h1>Listing jobtags</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobtags.each do |jobtag| %>
      <tr>
        <td><%= jobtag.job_id %></td>
        <td><%= jobtag.tag_id %></td>
        <td><%= link_to 'Show', jobtag %></td>
        <td><%= link_to 'Edit', edit_jobtag_path(jobtag) %></td>
        <td><%= link_to 'Destroy', jobtag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobtag', new_jobtag_path %>
